.board {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    display: none;
}

.piece {
    user-select: none;
    font-size: 50px;
    text-align: center;
}

.clicked {
    border: 5px solid brown;
}